In [45]:
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer

In [46]:
df=pd.read_excel('employment.xlsx')

In [47]:
print(df.head())

   Unnamed: 0.1  Unnamed: 0  Age Accessibility        EdLevel  Employment  \
0             0           0  <35            No         Master           1
1             1           1  <35            No  Undergraduate           1
2             2           2  <35            No         Master           1
3             3           3  <35            No  Undergraduate           1
4             4           4  >35            No            PhD           0

  Gender MentalHealth MainBranch  YearsCode  YearsCodePro    Country  \
0    Man           No        Dev          7             4     Sweden
1    Man           No        Dev         12             5      Spain
2    Man           No        Dev         15             6    Germany
3    Man           No        Dev          9             6     Canada
4    Man           No     NotDev         40            30  Singapore

   PreviousSalary                                     HaveWorkedWith  \
0           51552                          C++;Python;Git;PostgreSQL
1           46482  Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...
2           77290             C;C++;Java;Perl;Ruby;Git;Ruby on Rails
3           46135  Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...
4          160932                                         C++;Python

   ComputerSkills  Employed
0               4         0
1              12         1
2               7         0
3              13         0
4               2         0

In [74]:
df_drop=df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
#We dropped Gender and Country column since it's not relevant and may discriminate groups
df_drop=df_drop.drop(['Gender','Country'], axis=1)
for col in df_drop.columns:
    print(df_drop[col].unique())

['<35' '>35']
['No' 'Yes']
['Master' 'Undergraduate' 'PhD' 'Other' 'NoHigherEd']
[1 0]
['No' 'Yes']
['Dev' 'NotDev']
[ 7 12 15  9 40 26 14 39 20  4  6 19  8 22 34 21  5 25 24 10 31 18 38 13
  3 17 27  1 30  2 41 42 16 35 23 28 37 44 11 36 45 50 33 43 29 32 47 48
  0 46 49]
[ 4  5  6 30  2 18 21 16 10  0  3 15  1 12  8  7 17 14 26 25 34 11 24 22
 13  9 20 31 23 39 27 19 35 33 50 37 43 40 29 38 32 42 28 36 44 47 45 41
 49 48 46]
[ 51552  46482  77290 ...  35619  43324 110245]
['C++;Python;Git;PostgreSQL'
 'Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;TypeScript;Git;Express;React.js;Vue.js;AWS;PostgreSQL'
 'C;C++;Java;Perl;Ruby;Git;Ruby on Rails' ...
 'C#;HTML/CSS;Java;JavaScript;npm;ASP.NET Core ;AWS;DigitalOcean;Managed Hosting;MySQL;PostgreSQL'
 'HTML/CSS;JavaScript;TypeScript;Docker;Express;Node.js;React.js;AWS;Firebase;Heroku;MongoDB;PostgreSQL'
 'C#;HTML/CSS;JavaScript;SQL;TypeScript;npm;Yarn;Angular;ASP.NET;jQuery;React.js;AWS;DynamoDB;Microsoft SQL Server;SQLite']
[  4  12   7  13   2   5  17   3   6  18  16  25  14  39   8  24  21  10
  11  33  26  19  23  20  28  22  15   1   9  32  29  30  36  27  53  43
  31  40   0  41  38  44  35  42  34  37  78  51  47  63  50  49  62  48
  52  54  45  55  46  68  91  61  57  90  58  65 105  67  56  79  64 101
 107]
[0 1]

In [75]:
columns=['Accessibility', 'EdLevel', 'MentalHealth', 'MainBranch']
for col in columns:
    tokenizer=Tokenizer()
    tokenizer.fit_on_texts(df_drop[col])
    df_drop[col]=df_drop[col].str.lower()
    df_drop[col].replace(tokenizer.word_index, inplace=True)
    print(tokenizer.word_index)

{'no': 1, 'yes': 2}
{'undergraduate': 1, 'master': 2, 'other': 3, 'nohighered': 4, 'phd': 5}
{'no': 1, 'yes': 2}
{'dev': 1, 'notdev': 2}

In [78]:
df_drop.loc[df_drop["Age"]==">35", "Age"]="m35"
df_drop.loc[df_drop["Age"]=="<35", "Age"]="l35"
tokenizer=Tokenizer()
tokenizer.fit_on_texts(df_drop['Age'])
df_drop["Age"].replace(tokenizer.word_index, inplace=True)
print(tokenizer.word_index)

{'l35': 1, 'm35': 2}

In [80]:
print(df_drop.head())

   Age  Accessibility  EdLevel  Employment  MentalHealth  MainBranch  \
0    1              1        2           1             1           1
1    1              1        1           1             1           1
2    1              1        2           1             1           1
3    1              1        1           1             1           1
4    2              1        5           0             1           2

   YearsCode  YearsCodePro  PreviousSalary  \
0          7             4           51552
1         12             5           46482
2         15             6           77290
3          9             6           46135
4         40            30          160932

                                      HaveWorkedWith  ComputerSkills  Employed
0                          C++;Python;Git;PostgreSQL               4         0
1  Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...              12         1
2             C;C++;Java;Perl;Ruby;Git;Ruby on Rails               7         0
3  Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...              13         0
4                                         C++;Python               2         0

In [82]:
df_drop.to_excel("preprocessed.xlsx")

AttributeError: module 'pandas' has no attribute 'to_excel'