In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('stream_classify.csv')

# AGE_GROUP : 
# ['50 to 54 years' '25 to 29 years' '30 to 39 years' 'Under 22 years'
#  '22 to 24 years' '40 to 49 years' '55 to 59 years' '60+ years' nan]
age_group_mapping = {
    '50 to 54 years': 1,
    '25 to 29 years': 2,
    '30 to 39 years': 3,
    'Under 22 years': 4,
    '22 to 24 years': 5,
    '40 to 49 years': 6,
    '55 to 59 years': 7,
    '60+ years': 8
}

# UE_GROUP : 
# ['Under 12 Months' '24 to 59 Months' '60+ Months' '12 to 23 Months' nan]
# Map the values in the 'AGE_GROUP' column
ue_group_mapping = {
  'Under 12 Months': 1,
  '24 to 59 Months': 2,
  '60+ Months' : 3,
  '12 to 23 Months' : 4
}

# EDUCATION_ADJ : 
# ['Degree' 'Diploma' '<Year 10' 'Year 10/11'
#  'Non-trade vocational education' 'Year 12/13' 'Grad Diploma/Cert'
#  'No schooling' 'Trade/TAFE' 'Post-graduate' 'UKN' nan 'Special Education'
#  'Ed Quals-Not volunteered']
education_mapping = {
    'Degree': 1,
    'Diploma': 2,
    '<Year 10': 3,
    'Year 10/11': 4,
    'Non-trade vocational education': 5,
    'Year 12/13': 6,
    'Grad Diploma/Cert': 7,
    'No schooling': 8,
    'Trade/TAFE': 9,
    'Post-graduate': 10,
    'UKN': 11,
    'Special Education': 12,
    'Ed Quals-Not volunteered': 13,
}


df['AGE_GROUP'] = df['AGE_GROUP'].map(age_group_mapping)
df['UE_GROUP'] = df['UE_GROUP'].map(ue_group_mapping)
df['EDUCATION_ADJ'] = df['EDUCATION_ADJ'].map(education_mapping)

df.head(20)

,Unnamed: 0,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,GENDER,INDIGENOUS,HOMELESS,PWD,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,EDUCATION_ADJ
0,0,1,Stream A,Female,0,0,0,1,0,0,1,1,1
1,4,2,Stream C,Female,0,1,0,0,0,0,2,2,2
2,12,7,Stream C,Male,0,0,1,0,0,0,3,3,3
3,19,12,Stream C,Female,0,1,1,0,0,0,3,2,4
4,20,13,Stream A,Female,0,0,0,0,0,0,4,1,4
5,21,14,Stream C,Male,0,0,1,0,0,0,5,3,5
6,23,15,Stream B,Female,0,0,0,0,0,0,2,1,5
7,25,16,Stream C,Male,0,1,1,0,0,0,2,3,3
8,30,17,Stream C,Male,1,0,1,0,0,1,6,4,4
9,31,18,Stream A,Male,0,0,1,0,0,0,3,4,6
10,35,18,Stream B,Male,0,0,1,0,0,0,6,4,6
11,36,19,Stream C,Female,0,0,1,0,0,0,6,3,3
12,38,24,Stream B,Male,1,0,0,0,0,1,3,1,3
13,39,25,Stream C,Male,0,0,1,0,0,1,3,1,7
14,40,26,Stream B,Female,0,1,1,1,0,1,3,2,5
15,46,27,Stream C,Female,0,0,1,1,1,0,3,2,8
16,47,28,Stream C,Male,0,0,0,0,0,0,5,2,3
17,48,29,Stream C,Male,0,0,1,0,0,1,3,3,4
18,50,30,Stream A,Male,0,0,0,0,0,0,7,1,4
19,51,31,Stream B,Female,0,0,0,1,1,0,3,1,6