In [2]:
import matplotlib as plt
import pandas as pd

In [7]:
filename = "cleaned_jobactive.zip"
df = pd.read_csv(filename, compression="zip")
df.head(10)

,DATA_AS_AT,TRANSACTION_ID,EXPENDITURE,STATE,JSKR_LINKAGE_KEY,STREAM_PLACEMENT_DESC,EF_CATEGORY_DESCRIPTION,DERIVED_DATE_OF_SERVICE,ACTIVITY_TYPE_DESC,ACTIVITY_SUB_DESC,...,CALD,REFUGEE,EX_OFFENDER,AGE_GROUP,UE_GROUP,year,month,year_month,EDUCATION_ADJ,EF_CATEGORY_ADJ
0,2018-08-05,303887J,150.0,QLD,1,Stream A,Professional Services,2016-01-04,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
1,2018-08-05,283232J,300.0,QLD,1,Stream A,Professional Services,2015-12-21,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2015,12,Dec 2015,Degree,Prof Service
2,2018-08-05,412011J,150.0,QLD,1,Stream A,Professional Services,2016-01-11,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,1,Jan 2016,Degree,Prof Service
3,2018-08-05,376042J,150.0,QLD,1,Stream A,Professional Services,2016-02-08,NaN,NaN,...,1.0,NaN,NaN,50 to 54 years,Under 12 Months,2016,2,Feb 2016,Degree,Prof Service
4,2018-08-05,415778J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,Feb 2016,Diploma,Prof Service
5,2018-08-05,495384J,300.0,VIC,2,Stream C,Professional Services,2016-02-26,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,Feb 2016,Diploma,Prof Service
6,2018-08-05,498425J,225.0,VIC,2,Stream C,Professional Services,2016-02-18,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,2,Feb 2016,Diploma,Prof Service
7,2018-08-05,460100J,300.0,VIC,2,Stream C,Professional Services,2016-03-01,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,3,Mar 2016,Diploma,Prof Service
8,2018-08-05,976373J,150.0,VIC,2,Stream C,Professional Services,2016-08-30,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,8,Aug 2016,Diploma,Prof Service
9,2018-08-05,973682J,150.0,VIC,2,Stream C,Professional Services,2016-08-30,NaN,NaN,...,NaN,NaN,NaN,25 to 29 years,24 to 59 Months,2016,8,Aug 2016,Diploma,Prof Service