In [79]:
import pandas as pd

In [80]:
df_feature_x = pd.read_csv("EDA.csv", index_col=0)
df_feature_x.head(10)

,Age,Accessibility,EdLevel,Employment,MentalHealth,MainBranch,YearsExp,YearsProExp,PreviousSalary,NumSkills,Employed
0,<35,No,Master,1,No,Dev,2.079442,1.609438,51552,4,0
1,<35,No,Undergraduate,1,No,Dev,2.564949,1.791759,46482,12,1
2,<35,No,Master,1,No,Dev,2.772589,1.945910,77290,7,0
3,<35,No,Undergraduate,1,No,Dev,2.302585,1.945910,46135,13,0
4,>35,No,PhD,0,No,NotDev,3.713572,3.433987,160932,2,0
5,<35,No,Master,1,No,Dev,2.302585,1.098612,38915,5,0
6,>35,No,Master,1,No,Dev,3.295837,2.944439,77831,17,1
7,<35,No,Master,1,No,NotDev,2.708050,1.791759,81319,4,0
8,>35,No,Undergraduate,1,No,Dev,3.688879,3.091042,68507,3,0
9,>35,No,Master,1,No,Dev,3.044522,2.833213,37752,6,0

In [81]:
df_feature_x.drop(columns=["Accessibility", "Employment", "MentalHealth", "MainBranch"], inplace=True)
df_feature_x.head(10)

,Age,EdLevel,YearsExp,YearsProExp,PreviousSalary,NumSkills,Employed
0,<35,Master,2.079442,1.609438,51552,4,0
1,<35,Undergraduate,2.564949,1.791759,46482,12,1
2,<35,Master,2.772589,1.945910,77290,7,0
3,<35,Undergraduate,2.302585,1.945910,46135,13,0
4,>35,PhD,3.713572,3.433987,160932,2,0
5,<35,Master,2.302585,1.098612,38915,5,0
6,>35,Master,3.295837,2.944439,77831,17,1
7,<35,Master,2.708050,1.791759,81319,4,0
8,>35,Undergraduate,3.688879,3.091042,68507,3,0
9,>35,Master,3.044522,2.833213,37752,6,0

In [82]:
df_feature_x["Age"].replace({"<35": 1, ">35": 0}, inplace=True)
df_feature_x["EdLevel"].replace({"NoHigherEd": 1, "Other": 2, "Undergraduate": 3, "Master": 4, "PhD": 5}, inplace=True)
df_feature_x.head(10)

   Age  EdLevel  YearsExp  YearsProExp  PreviousSalary  NumSkills  Employed
0    1        4  2.079442     1.609438           51552          4         0
1    1        3  2.564949     1.791759           46482         12         1
2    1        4  2.772589     1.945910           77290          7         0
3    1        3  2.302585     1.945910           46135         13         0
4    0        5  3.713572     3.433987          160932          2         0
5    1        4  2.302585     1.098612           38915          5         0
6    0        4  3.295837     2.944439           77831         17         1
7    1        4  2.708050     1.791759           81319          4         0
8    0        3  3.688879     3.091042           68507          3         0
9    0        4  3.044522     2.833213           37752          6         0

In [83]:
df_feature_x["YearsExpComb"]=df_feature_x["YearsProExp"]+df_feature_x["YearsExp"]

In [77]:
df_feature_x.to_csv("preprocessing.csv")