In [3]:
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv("stream_classify_preprocessing.csv", index_col=0)
data.head(10)

,STREAM_PLACEMENT_DESC,GENDER,HOMELESS,PWD,CALD,REFUGEE,AGE_GROUP,UE_GROUP,EDUCATION_ADJ
0,1,2,0,0,1,0,6,1,9
1,2,2,1,0,0,0,3,3,5
2,2,1,0,1,0,0,4,4,2
3,2,2,1,1,0,0,4,3,3
4,1,2,0,0,0,0,1,1,3
5,2,1,0,1,0,0,2,4,4
6,1,2,0,0,0,0,3,1,4
7,2,1,1,1,0,0,3,4,2
8,2,1,0,1,0,0,5,2,3
9,1,1,0,1,0,0,4,2,7

In [8]:
data_x = data[["GENDER","HOMELESS","PWD","CALD","REFUGEE","AGE_GROUP","UE_GROUP","EDUCATION_ADJ"]]
data_y = data[["STREAM_PLACEMENT_DESC"]]

In [11]:
x_train, x_valid, y_train, y_valid = train_test_split(data_x, data_y, test_size=0.01, random_state=1)

print(f"Data before splitting: {len(data_x)}")
print(f"Train data: {len(x_train)}")
print(f"Validation data: {len(x_valid)}")

Data before splitting: 485972
Train data: 481112
Validation data: 4860

In [12]:
EPOCH = 15
LEARNING_RATE = 1e-3

In [14]:
tf.keras.backend.clear_session()

model = tf.keras.Sequential([
    tf.keras.layers.Dense(8, activation="relu"),
    tf.keras.layers.Dense(4, activation="relu"),
    tf.keras.layers.Dense(1, activation="sigmoid")
])

model.compile(optimizer=tf.keras.optimizers.Adam(), 
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=["accuracy"])
history = model.fit(x_train, y_train, epochs=EPOCH, validation_data=(x_valid, y_valid))

Epoch 1/15
15035/15035 [==============================] - 18s 1ms/step - loss: -67809.5859 - accuracy: 0.7487 - val_loss: -224263.2656 - val_accuracy: 0.7623
Epoch 2/15
15035/15035 [==============================] - 17s 1ms/step - loss: -724248.7500 - accuracy: 0.7487 - val_loss: -1349353.2500 - val_accuracy: 0.7623
Epoch 3/15
15035/15035 [==============================] - 17s 1ms/step - loss: -2662993.7500 - accuracy: 0.7487 - val_loss: -3999960.2500 - val_accuracy: 0.7623
Epoch 4/15
15035/15035 [==============================] - 16s 1ms/step - loss: -6547930.0000 - accuracy: 0.7487 - val_loss: -8798137.0000 - val_accuracy: 0.7623
Epoch 5/15
15035/15035 [==============================] - 17s 1ms/step - loss: -13010424.0000 - accuracy: 0.7487 - val_loss: -16337648.0000 - val_accuracy: 0.7623
Epoch 6/15
15035/15035 [==============================] - 17s 1ms/step - loss: -22696728.0000 - accuracy: 0.7487 - val_loss: -27231114.0000 - val_accuracy: 0.7623
Epoch 7/15
15035/15035 [==============================] - 17s 1ms/step - loss: -36242204.0000 - accuracy: 0.7487 - val_loss: -42066472.0000 - val_accuracy: 0.7623
Epoch 8/15
15035/15035 [==============================] - 17s 1ms/step - loss: -54285708.0000 - accuracy: 0.7487 - val_loss: -61468616.0000 - val_accuracy: 0.7623
Epoch 9/15
15035/15035 [==============================] - 17s 1ms/step - loss: -77473288.0000 - accuracy: 0.7487 - val_loss: -86001392.0000 - val_accuracy: 0.7623
Epoch 10/15
15035/15035 [==============================] - 17s 1ms/step - loss: -106351248.0000 - accuracy: 0.7487 - val_loss: -116295152.0000 - val_accuracy: 0.7623
Epoch 11/15
15035/15035 [==============================] - 17s 1ms/step - loss: -141730992.0000 - accuracy: 0.7487 - val_loss: -152971616.0000 - val_accuracy: 0.7623
Epoch 12/15
15035/15035 [==============================] - 17s 1ms/step - loss: -184086432.0000 - accuracy: 0.7487 - val_loss: -196509664.0000 - val_accuracy: 0.7623
Epoch 13/15
15035/15035 [==============================] - 17s 1ms/step - loss: -233956992.0000 - accuracy: 0.7487 - val_loss: -247598048.0000 - val_accuracy: 0.7623
Epoch 14/15
13044/15035 [=========================>....] - ETA: 2s - loss: -287839232.0000 - accuracy: 0.7489